/* Basic Sheet */
*{
    margin: 7;
    padding: 5;
    box-sizing: border-box;
}

/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ededed;
    background-color: rgb(50, 50, 50);
    background-image: url(20240527_2238188.jpg);
    padding: 20px;
}

.d-inline {
    display: inline-block;
    width: 49.5%;
    text-align: center;
}